<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
<%- include('./partials/nav.ejs')%>
    <div class="about content">
        <h2>about</h2>
        <p>Node.js is a trademark of Joyent, Inc. and is used with its permission. Please review the Trademark List and Trademark</p>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>

</html>